 
  aside{
    flex-basis: 30%;
  
    border: solid 1px red;
    border-radius: 25px; 
    margin: 5px; 
  
  }
  
  .tipListTTT {
    /* display: flex;   */
    flex-basis: 30%;  
    background-color: #5995DA;
    color: lightgoldenrodyellow;
}
.tipList2TTT {
  border: solid 1px red;
}

  @media (max-width: 600px) {
    .fishies {
       flex-basis: 100%;
    }

    tipListTTT {
      display: flex;  
      flex-wrap: wrap;   
      flex-direction: row; 
      justify-content: space-around;
      border: 1px solid red;
      flex-basis: 65%;
      /* padding: 20px 10px 20px 10px; */
      border-radius: 25px;
      margin: 5px; 
      text-align: center;

    }
 .tipList {
  
        flex-wrap: wrap;
        flex-basis: 25%;
        flex-direction: row; 
        background-color: greenyellow;
        border: 1px solid blue;
        padding: 10px 10px 10px 10px;
        border-radius: 25px; 
        margin: 5px; 
      
 }